# Node
node_modules/
.next/
dist/
build/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.idea/
android/.gradle
android/app/build
ios/Pods/
macos/Pods/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.iml
*.lock
*.log
*.metadata
*.bak

# Git
*.swp
*.swo
*.DS_Store
*.orig
*.tmp

# Otros
*.gz
*.webp
